
.songContainer{
  padding: 1rem;
}

.songContainer > *:focus{
  border:none !important;
}

.titleInput{
  border: none !important;
  font-size: 2rem !important;
  height: 3rem !important;
  border-bottom: 1px solid #afafaf !important;
  margin-bottom: .5rem;
}

.lyrics-section{
  font-size: 1.2rem !important;
  border: none !important;
  margin: 1rem;
  resize: none;
}

.lyricsSection{
  padding: 1rem 0;
  line-height: 1.6rem;
}

textarea {
  outline: none;
}

.lyricsSection > *{
  padding: 0 1.2rem;
}

.fabContainer{
  position: relative;
}

.fabContainer > .add-page{
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  border-radius: .2rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.lyric-page {
  position: relative;
}

.lyric-page > .add-stanza {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  border-radius: .2rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
